.leaderboard_container{
    background-color: rgba(210, 136, 136, 0.621); 
    /* width:50%; */
    height: fit-content;
    min-height: 500px;
    margin:50px;
    border-radius: 10px;
    min-width: 700px;

    
}