.navbar_container {
    background-color: rgb(255, 255, 255);
    width: 100vw; 
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 10px rgb(173, 165, 165);
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}
.logo {
    width: 150px; 
    height: auto; 
    max-height: 150px; 
    
}
.nav_item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin:10px;
    margin-right: 40px;
}
.title{
    color:rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
}
.btn{
    background-color: green;
    /* min-width: 50px; */
}