.body_container {
  display: flex;
  justify-content: space-evenly;
  align-items:top;
  height: 100vh;
  margin: 0;
  /* background-size: cover;  */
  /* background-position: center;  */
  font-family: Arial, sans-serif;
  /* filter:blur(10); */
  background-color: #243642;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 100px;
  
}